In [56]:
import pandas as pd
import numpy as np

from sklearn.model_selection import TimeSeriesSplit
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_hdf('SP500_Options_Monthly.h5')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180814 entries, 0 to 180813
Data columns (total 37 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   optid                            180814 non-null  int64
 1   date                             180814 non-null  datetime64[ns]
 2   secid                            180814 non-null  int64
 3   cp_flag                          180814 non-null  object
 4   strike                           180814 non-null  float64
 5   bid                              180814 non-null  float64
 6   ask                              180814 non-null  float64
 7   volume                           180814 non-null  float64
 8   openint                          180814 non-null  float64
 9   impvol                           180814 non-null  float64
 10  delta                            180814 non-null  float64
 11  gamma                            180814 non-null  float64
 12  vega                             180814 non-null  float64
 13  theta                            180814 non-null  float64
 14  midprice                         180814 non-null  float64
 15  last_trade_date                  180814 non-null  datetime64[ns]
 16  ttm                              180814 non-null  int64
 17  mness                            180814 non-null  float64
 18  embed_lev                        180814 non-null  float64
 19  return_mid                       180814 non-null  float64
 20  return_spot                      180814 non-null  float64
 21  ex_return_mid                    180814 non-null  float64
 22  ex_return_spot                   180814 non-null  float64
 23  dhedged_gain                     180814 non-null  float64
 24  spot_close                       180814 non-null  float64
 25  divrate                          180537 non-null  float64
 26  rate_ttm                         180814 non-null  float64
 27  vix                              180814 non-null  float64
 28  dhedged_return_mid               180814 non-null  float64
 29  dhedged_return_spot              180814 non-null  float64
 30  dhedged_return_spot_gamma        180806 non-null  float64
 31  dhedged_return_mid_delev         180814 non-null  float64
 32  dhedged_return_spot_delev        180814 non-null  float64
 33  dhedged_return_spot_gamma_delev  180806 non-null  float64
 34  IV_mness_deriv_1                 174860 non-null  float64
 35  IV_ttm_deriv_1                   174860 non-null  float64
 36  short_rate                       180814 non-null  float64
dtypes: datetime64[ns](2), float64(31), int64(3), object(1)
memory usage: 51.0+ MB

In [4]:
def get_summary(df_col):
    print(f'\nSummary of {df_col.name}:')
    print(f'Mean: {np.round( df_col.mean(),2)}')
    print(f'Median: {np.round( df_col.median(),2)}')
    print(f'Standard deviation: {np.round( df_col.std(),2)}')
    print(f'Number of observations: {np.round( df_col.count(),2)}')

In [5]:
df[['cp_flag', 'date','strike', 'midprice', 'spot_close', 'mness','divrate', 'delta', 'gamma', 'vega', 'theta']].head()

,cp_flag,date,strike,midprice,spot_close,mness,divrate,delta,gamma,vega,theta
0,P,1996-12-20,825.0,80.250,748.87,0.493527,0.021764,-0.499509,0.002263,392.6179,2.388857
1,P,1997-01-17,825.0,63.250,776.17,0.264026,0.022156,-0.413864,0.002102,404.5886,-1.370254
2,P,1997-02-21,825.0,57.625,801.77,0.119626,0.022782,-0.372130,0.001925,398.2385,-4.685850
3,P,1997-03-21,825.0,63.375,784.10,0.211250,0.023084,-0.400019,0.001992,388.8088,-3.081652
4,P,1997-04-18,825.0,65.875,766.34,0.325910,0.023036,-0.436770,0.002214,379.3950,-0.389018

In [6]:
df[['mness', 'ttm', 'embed_lev', 'impvol', 'gamma', 'vega', 'theta', 'midprice']].apply(lambda x: get_summary(x), axis=0)

Summary of mness:
Mean: -0.37
Median: -0.42
Standard deviation: 1.54
Number of observations: 180814

Summary of ttm:
Mean: 204.96
Median: 91.0
Standard deviation: 222.96
Number of observations: 180814

Summary of embed_lev:
Mean: 17.53
Median: 12.67
Standard deviation: 16.29
Number of observations: 180814

Summary of impvol:
Mean: 0.27
Median: 0.22
Standard deviation: 0.18
Number of observations: 180814

Summary of gamma:
Mean: 0.0
Median: 0.0
Standard deviation: 0.0
Number of observations: 180814

Summary of vega:
Mean: 202.41
Median: 131.15
Standard deviation: 217.08
Number of observations: 180814

Summary of theta:
Mean: -51.82
Median: -39.13
Standard deviation: 50.28
Number of observations: 180814

Summary of midprice:
Mean: 79.15
Median: 20.75
Standard deviation: 158.05
Number of observations: 180814

mness        None
ttm          None
embed_lev    None
impvol       None
gamma        None
vega         None
theta        None
midprice     None
dtype: object

In [95]:
df['date'].value_counts()[:60]

2017-05-19    1718
2016-02-19    1664
2015-09-18    1656
2015-10-16    1643
2017-08-18    1613
2015-08-21    1571
2015-11-20    1550
2015-12-18    1545
2016-01-15    1522
2016-05-20    1511
2015-04-17    1510
2017-06-16    1495
2015-05-15    1467
2017-07-21    1463
2015-03-20    1454
2015-01-16    1422
2015-02-20    1414
2015-06-19    1406
2015-07-17    1396
2017-09-15    1376
2014-12-19    1374
2016-03-18    1372
2016-04-15    1360
2014-10-17    1350
2016-06-17    1348
2014-11-21    1339
2017-04-21    1337
2016-07-15    1314
2016-08-19    1302
2016-09-16    1286
2014-08-15    1267
2016-11-18    1264
2016-10-21    1232
2014-09-19    1231
2014-02-21    1223
2016-12-16    1206
2014-04-17    1199
2014-05-16    1199
2014-07-18    1197
2014-06-20    1165
2014-03-21    1160
2013-06-21    1160
2017-01-20    1144
2014-01-17    1141
2013-08-16    1135
2017-02-17    1126
2013-12-20    1120
2013-09-20    1116
2013-07-19    1093
2013-05-17    1085
2013-04-19    1072
2013-11-15    1070
2013-10-18    1065
2011-08-19    1042
2017-03-17    1035
2008-11-21    1031
2010-05-21    1030
2008-10-17    1014
2012-10-19    1000
2011-10-21     998
Name: date, dtype: int64

In [82]:
clear_df = df[['optid','date','mness', 'ttm', 'embed_lev', 'impvol', 'gamma', 'vega', 'theta', 'midprice']]

In [96]:
first_df = clear_df[clear_df['date'] < '2007-02-20'].sort_values(by='date')
first_df.tail(45)

,optid,date,mness,ttm,embed_lev,impvol,gamma,vega,theta,midprice
72467,32391891,2007-02-16,-2.528281,28,39.435430,0.293655,0.000103,4.756402,-9.231032,0.150
72468,32391892,2007-02-16,-2.806844,28,49.342806,0.253702,0.000054,2.159604,-3.616476,0.050
72469,32392586,2007-02-16,-0.352688,119,14.611960,0.122753,0.003358,282.296700,-84.992060,70.100
72473,32394188,2007-02-16,1.441061,63,66.070758,0.077865,0.003873,108.532400,-29.966910,2.300
72475,32394189,2007-02-16,1.606049,63,21.550504,0.069866,0.003550,89.259930,30.771290,61.900
6479,32402039,2007-02-16,-1.188433,63,37.029746,0.137506,0.001993,98.602230,-35.139970,3.600
50255,32310551,2007-02-16,-1.436895,28,62.786797,0.133911,0.002258,47.383070,-39.813880,1.400
72476,32396677,2007-02-16,-0.934610,63,36.340415,0.127938,0.002894,133.258900,-42.896980,5.600
72478,32396683,2007-02-16,0.253592,63,34.484490,0.093829,0.007038,237.651900,-87.775730,19.600
72480,32396685,2007-02-16,0.077096,63,32.369670,0.095519,0.006911,237.557600,-42.560830,20.800
140388,30207576,2007-02-16,-0.032321,308,11.520251,0.128439,0.002166,495.801800,-17.579210,46.000
6455,32396684,2007-02-16,0.757556,63,46.865544,0.084991,0.006592,201.632200,-63.967370,8.700
140353,30207574,2007-02-16,-0.990292,308,12.752381,0.167347,0.000801,238.923300,-18.078130,11.800
72458,32353916,2007-02-16,0.439203,28,66.240560,0.081264,0.011757,149.733700,-100.337600,8.200
49269,26643071,2007-02-16,-3.267659,119,16.651378,0.392354,0.000003,0.875272,-0.515478,0.025
27846,31996744,2007-02-16,-2.314335,28,54.808359,0.200494,0.000262,8.226715,-10.763980,0.200
118666,32276249,2007-02-16,-0.898829,28,61.138187,0.113467,0.005312,94.452050,-64.523040,3.700
140300,30207558,2007-02-16,-0.031786,308,9.748412,0.130602,0.002133,496.377800,-63.876260,92.300
95338,32079116,2007-02-16,-1.915764,490,10.492018,0.216578,0.000091,56.101230,-3.827093,1.800
72277,32311937,2007-02-16,0.123513,28,50.511956,0.089434,0.011251,157.694200,-69.556570,14.500
141299,32204996,2007-02-16,-1.175726,217,16.163974,0.167927,0.000788,165.921400,-19.189990,7.200
163539,30207583,2007-02-16,0.984002,308,18.077665,0.104686,0.002284,425.982500,-37.935690,20.600
72279,32346087,2007-02-16,1.812207,217,33.796635,0.089743,0.001293,145.521500,-14.216620,2.900
141288,32203796,2007-02-16,-0.040456,217,14.438076,0.122250,0.002752,421.848800,-22.841050,38.000
6412,32358896,2007-02-16,1.031551,119,35.114075,0.090243,0.003873,239.402500,-43.552950,8.800
6416,32384817,2007-02-16,-2.565812,63,29.227243,0.262732,0.000067,6.325281,-4.706744,0.175
72287,32348546,2007-02-16,-0.862915,1036,5.675808,0.192646,0.000346,399.991300,-8.249927,23.700
6418,32385324,2007-02-16,-1.045727,63,36.961540,0.131023,0.002495,117.625100,-39.280860,4.600
72368,32348559,2007-02-16,0.695288,1036,6.939737,0.132537,0.001140,907.633400,-34.915110,84.000
6421,32385331,2007-02-16,-0.451601,63,20.966171,0.113022,0.004887,198.790900,-99.612690,50.300
72403,32350471,2007-02-16,0.145077,217,13.762448,0.118727,0.002945,438.302000,-67.748150,57.300
72410,32352226,2007-02-16,2.439442,28,132.206698,0.083483,0.000741,9.698179,-5.918249,0.100
140326,30207561,2007-02-16,-1.201987,308,13.143990,0.174845,0.000579,180.281700,-14.849410,7.850
6423,32385338,2007-02-16,-0.460994,63,35.022773,0.110719,0.004954,197.390800,-50.326020,11.150
6425,32388107,2007-02-16,1.879268,28,120.538119,0.076923,0.002671,32.193520,-18.565230,0.450
6426,32388110,2007-02-16,0.865125,63,49.646246,0.083713,0.006258,188.532700,-58.336220,7.200
141258,32184376,2007-02-16,-0.520272,490,9.127996,0.155877,0.001029,455.250100,-15.812020,30.600
163565,30207584,2007-02-16,0.275046,308,10.895437,0.119086,0.002467,523.412200,-10.314030,63.700
6427,32392101,2007-02-16,-2.498956,28,43.113095,0.266937,0.000123,5.151496,-9.066065,0.150
72412,32352242,2007-02-16,0.114890,308,10.736337,0.125840,0.002295,514.643000,-62.072580,76.600
6428,32392587,2007-02-16,-0.355795,119,22.217316,0.121681,0.003379,281.642100,-37.556530,18.900
72423,32353804,2007-02-16,1.336285,1036,9.696749,0.118366,0.000945,671.813800,-21.486680,30.100
6432,32393606,2007-02-16,-0.314527,63,23.178552,0.108762,0.005458,213.628700,-99.980300,42.600
140144,26643104,2007-02-16,-1.656415,119,23.552717,0.182319,0.000499,62.344740,-15.767130,2.100
28305,32385423,2007-02-16,-1.965045,63,34.971774,0.186472,0.000396,26.568150,-13.642240,0.750

In [54]:
first_df = clear_df[clear_df['date'] < '2007-01-01'].sort_values(by='date').drop(columns=['date'])

train_idx = int(first_df.shape[0]*0.85)

# Не робити train/test split
train_set = first_df.head(train_idx)
test_set = first_df.tail(first_df.shape[0] - train_idx)

train_y = train_set['midprice']
train_x = train_set.drop(columns=['midprice'])

test_y = test_set['midprice']
test_x = test_set.drop(columns=['midprice'])

In [57]:
reg = LinearRegression()

In [58]:
reg.fit(train_x, train_y)

LinearRegression()

In [ ]:
y_pred =